
#portal-personaltools-wrapper {

  dl {
    @include dl(plain);
    margin-left: 0;
  }
  /* Anonymous: list actions by floating */
  > ul {
    @include ul(inline);
    margin-left: 1em;
    li {
      @include linklist;
    }
  }
  @include screen-large {
    float: right;
    dl {
      margin-left: 0.5em;
    }
  }
}


#document-actions {
  float: right;
  width: auto;
  >ul {
    @include ul(inline);
    @include linklist;
  }
}


#bottom-actions {
  width: $page-wrapper-width;
  margin: 0 auto;
  #portal-siteactions {
    @include ul(plain);
    @include linklist;
    margin-bottom: 1em;

    a {
      color: $gray;
    }
  }
}
