
#portal-personaltools-wrapper {
  float: right;

  dl {
    @include dl(plain);
  }

  /* Anonymous: list actions by floating */
  > ul {
    @include ul(inline);
    margin-left: 1em;
    li {
      @include linklist;
    }
  }
}


#document-actions {
  float: right;
  width: auto;
  >ul {
    @include ul(inline);
    @include linklist;
  }
}


#bottom-actions {
  max-width: $page-wrapper-width;
  margin: 15px auto;
 @include clearfix();
  #portal-siteactions {
    @include ul(plain);
    @include linklist;
    margin-bottom: 1em;

    a {
      color: $gray;
    }
  }
}
