#additional-logo {

  float: right;

  &.hide {
    visibility: hidden;
    @include screen-small {
      visibility: visible;
    }
  }

  img {
    max-height: 50px;
    width: auto;

    @include screen-small {
      max-height: none;
      width: auto;
    }
  }

}
