#additional-logo {

  vertical-align: top;
  text-align: right;
  display: table-cell;

  img {
    max-height: 50px;
    width: auto;

    @include screen-small {
      max-height: none;
      width: auto;
    }
  }

}
