
/* @group header */

#header {
  position: relative;
  z-index: 3;
}
.logoRow {
  min-height: 6em;
}
#header-delimiter {
  border-top: 5px solid $global-navigation-border-color;
}
#portal-logo {
  margin: 1.5em 0;
  height: $logo-height;
  display: block;
  float: left;
  img {
    max-height: 100%;
  }
}

/* @end */

/* @group flyout breadcrumbs */

#portal-breadcrumbs .flyoutBreadcrumbs {
  .crumb {
    display: block;
    float: left;
    margin-bottom: 0.25em;
    position: relative;
    a.crumbLink {
      border: 1px solid $breadcrumbs-border;
      border-width: 1px 0;
      background: url(#{$portal-url}/++theme++plonetheme.onegovbear/images/breadcrumb-separator.png) no-repeat right -1px $breadcrumbs-background;
      font-size: 12px;
      height: 21px;
      line-height: 21px;
      padding: 0 0.5em;
      padding-right: 36px;
      float: left;
      &.noChildren {
        padding-right: 20px;
      }
    }
    &.first a.crumbLink {
      border-left-width: 1px;
    }
    &.last a.crumbLink,
    &.last.active a.crumbLink {
      background-image: none;
      padding-right: 21px;
      border-right-width: 0;
      &.noChildren {
        padding-right: 6px;
      }
    }
    &.last a.loadChildren {
      margin-left: -21px;
    }
    a.loadChildren {
      display: block;
      height: 21px;
      width: 21px;
      line-height: 21px;
      font-size: 9px;
      float: left;
      margin-left: -33px;
      margin-top: 1px;
      text-align: center;
      background: $page-background;
      &:hover {text-decoration: none;}
    }
    &.active {
      a.crumbLink {
        position: relative;
        /* background-color: #/\* FFF *\/; */
        z-index: 6;
        border-bottom-color: $breadcrumbs-background;
        border-right-width: 1px;
        padding-right: 35px;
        background-image: none;
      }
      a.loadChildren {
        position: relative;
        z-index: 6;
      }
    }
    > ul {
      width: 200px;
      min-width: 100%;
      display: none;
      border: 1px solid $breadcrumbs-border;
      background: $breadcrumbs-background;
      @include boxshadow(0 0.25em 0.5em -0.25em $darkgray);
      position: absolute;
      left: 0;
      top: 22px;
      z-index: 5;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0em;
        a {
          font-size: 12px;
          padding: 0.5em;
          display: block;
        }
      }
    }
  }
}
#portal-breadcrumbs .flyoutBreadcrumbs .lastCrumbSeparator {
  background: url(#{$portal-url}/++theme++plonetheme.onegovbear/images/breadcrumb-separator.png) no-repeat right -46px $breadcrumbs-background;
  display: block;
  float: left;
  height: 23px;
  width: 12px;
}

/* @end */

/* @group breadcrumbs  */

#breadcrumbs-wrapper {
  margin-bottom: 0.5em;
}

/* @end */

/* @group document actions */

#document-actions ul {
  @include ul($style: 'inline');
  float: right;
  & li a {
    font-size: 1.5em;
    margin-left: 0.25em;
    text-decoration: none;
  }
}

/* @end */

/* @group mobile navigation */

.mobileButtons,
.mobileButtons a {
  background: transparent;
}
.mobileButtons a {
  /* TODO move to variables */
  border: 1px solid #a0babd;
  padding: 0.25em 0.75em;
  margin: 0.25em;
  width: auto;
  height: auto;
  font-size: 1.25em;
  &.selected {
    background: $global-navigation-color;
    border-color: $global-navigation-color;
    color: $page-background;
  }
  &:hover {
    text-decoration: none;
  }
}


#slider-container .iconFont {
  font-family: 'icomoon';
  background-color: $lightgray;
  padding: 1em;
}
#slider-container .mobileNavigation li a {
  background-color: $page-background;
  padding: 1em;
  margin: 0;
}
#slider-container .globalnav a.slide,
#slider-container .globalnav a.slideBack {
  background-image: none;
  height: auto;
  width: auto;
  min-width: 0;
}
#slider-container .globalnav a.slideBack {
  background: $page-background;
}
#slider-container .globalnav a.current {
  border-top: none;
}
#slider-container .globalnav a.slide {
  padding: 1em 0.75em;
  background-color: $lightgray;
}
#slider-container .globalnav a.slideBack {
  padding: 0;
  & > span {
    padding: 1em 0.75em;
    display: block;
    float: left;
  }
}
#slider-container .slideNavi {
  font-size: $font-size-18;
  width: 90%;
  left: 5%;
  top: 1em;
}
div.slideNavi.loading {
  background-color: $page-background;
}
div.slideNavi .globalnav {
  border: 1px solid $mobile-navigation-bordercolor;
  @include boxshadow(0 0 1em $darkgray);
}
div.slideNavi .globalnav li a {
  border: none;
  border-top: 1px solid $lightgray2;
}
#slider-container .globalnav a.slideBack {
  border: none;
}
.globalnav a:hover {
  color: $link-color-hover;
}

/* @end */

/* @group byline */

.documentByLine {
  color: $text-color-light;
  margin-bottom: 1em;
}

/* @end */

/* @group below-content viewlet */

#viewlet-below-content {
  margin-top: 2em;
}

/* @end */

/* @group category tags */

#category.documentByLine .separator {
  display: none;
}
#category.documentByLine a {
  @include borderradius();
  background-color: $global-navigation-color;
  color: $page-background;
  padding: 0.25em 0.5em;
  &:hover {
    color: $page-background;
  }
}

/* @end */

/* @group footer */

#footer {
  background-color: $footer-background;
  color: $footer-color;
  & a {
    color: $footer-color;
  }
  & ul {
    @include ul($style: 'plain');
  }
  & .portlet {
    padding-left: 3em;
    margin: 2em 0;
    border-left: 1px solid $footer-border-color;
    & li {
      display: block;
      margin-bottom: 0.5em;
    }
  }
  & .cell:first-child .portlet {
    border-left: none;
  }
}
#bottom-actions {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* @end */

/* @group site-actions */

#portal-siteactions {
  @include ul($style: 'inline');
  & a {
    color: $darkgray;
  }
  & li {
    border-left: 1px solid $darkgray;
    padding-left: 0.5em;
    margin-left: 0.5em;
  }
  & li:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }
}

/* @end */

/* @group login */

#login-form {
  margin: 2em 0;
}

#login-form label {
  min-width: 8em;
  display: inline-block;
}

/* @end */

/* @group collapsible */

dl.collapsible {
  dt {
    cursor: pointer;
  }
  dd {
    display: none;
  }
  &.expandedBlockCollapsible dd {
    display: block;
  }
}

/* @end */

/* @group sitemap */

.template-sitemap #content {
  padding-left: 2em;
  ul#portal-sitemap {
    & li {
      display: list-item;
      list-style: disc;
      margin-bottom: 0em;
      & a:before {
        /* no content type icons */
        display: none;
      }
    }
  }
}

/* @end */

/* @group tooltips */

.tooltip {
  background-color: $page-background;
  border-color: $darkgray;
  @include boxshadow(0 0 1em $darkgray);
  color: $text-color;
}

/* @end */


/* @group colorbox / album view */

  .photoAlbumEntry {
    float: left;
    position: relative;
    overflow: hidden;
    height: 185px;
    width: 143px;
    margin: 0.25em;
    padding: 0px 6px 0px 9px;
    text-align: center;
    background-image: url('polaroid-single.png');
    background-repeat: no-repeat;
  }
  .photoAlbumEntry img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
  }
  .photoAlbumEntryWrapper {
    height: 130px;
    width: 128px;
    margin-bottom: 7px;
  }
  .photoAlbumEntry a {
    display: block;
    text-decoration: none;
    font-size: 90%;
    height: 169px;
    width: 130px;
    margin: 16px auto 0px;
    &:hover {
      color: $link-color-hover;
    }
  }
  .photoAlbumFolder {
    background-image: url('polaroid-multi.png');
    background-repeat: no-repeat;
  }
  .photoAlbumEntryTitle {
    display: block;
    width: 128px;
    height: 3.6em;
  }

/* @end */

/* @group notification form */

.template-notification_form {
  #sendto_form > label {
    display: block;
  }
  fieldset {
    padding: 0;
  }
}

/* @end */

/* @group Invisibles */

* {
  outline: none;
}
.hiddenStructure {
  display: block;
  background: transparent;
  background-image: none; /* safari bug */
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em !important;
  width: 1px;
}
#content .visualNoMarker {
  list-style:none;
  margin-left: 0;
}
.visualClear {
  clear: both;
}
.clearfix {
  @include clearfix();
}

/* @end */
