#content .listingBar, .listingBar {
  margin: 0.5em 0;

  .previous {
    float: left;
  }

  .next {
    float: right;
  }

  a {
    @include button();
  }
  a, span {
    line-height: normal;
  }
}
