$button-standalone-color: $standalone-color;
$button-context-color: $context-color;
$button-destructive-color: $danger-color;
$button-success-color: $success-color;
$button-warning-color: $warning-color;
$button-danger-color: $danger-color;
$button-disabled-color: #ddd;

$button-text-light-color: white;
$button-text-dark-color: black;


@mixin button($button-color, $button-active-color:darken($button-color, 15%),  $disabled:false) {
  $button-text-color: contrast($button-color,
                               $button-text-light-color, $button-text-dark-color,
                               $lightness:63%);
  $button-border-color: darken($button-color, 15%);
  $button-active-text-color: contrast($button-active-color,
                                      $button-text-light-color, $button-text-dark-color,
                                      $lightness:63%);
  $button-active-border-color: darken($button-active-color, 15%);

  @if ($disabled) {
    pointer-events: none;
    cursor: default;
    $button-text-color: transparentize($button-text-color, 0.7);
    $button-active-color: $button-color;
    $button-active-text-color: $button-text-color;
    $button-active-border-color: $button-border-color;
  } @else {
    cursor: pointer;
  }

  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0 0;
  line-height: normal;
  height: auto;
  @include borderradius();
  background-color: $button-color;
  color: $button-text-color;
  border: 1px solid $button-border-color;

  @if (not $disabled) {
    &:hover, &:focus, &:active, &.active {
      text-decoration: none;
      background-color: $button-active-color;
      color: $button-active-text-color;
      border: 1px solid $button-active-border-color;
    }
  }
}

input[type="button"],
button.context,
a.button,
a.button.standalone,
input.standalone {
  @include button($button-standalone-color, $button-active-color: #eee);
}

input[type="submit"],
input[type="reset"],
a.button.context,
input.context {
  @include button($button-context-color);
}

a.button.destructive,
input.destructive {
  @include button($button-destructive-color);
}

a.button.success,
input.success {
  @include button($button-success-color);
}

a.button.warning,
input.warning {
  @include button($button-warning-color);
}

a.button.disabled,
input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
button[disabled] {
  @include button($button-disabled-color, $disabled:true);
}
