$mark-broken-links: true !default;

@include declare-variables(
  text-color-light,
  mark-broken-links);

a,
:link,
:visited {
  color: $color-link;
  text-decoration: $text-decoration-link;
  font-weight: $font-weight-link;
  &:hover {
    color: $color-link-hover;
    text-decoration: $text-decoration-link-hover;
  }
}

fieldset {
  margin: $margin-vertical 0;
  border-width: 0 0 1px 0;
}

ul.listTypePlain {
  @include list();
}

.discreet {
  color: $color-text-light;
}

.hiddenStructure {
  @include hidden-structure();
}

#content .visualNoMarker {
  list-style: none;
  margin-left: 0;
}

dl.collapsible {
  dt {
    cursor: pointer;
  }
  dd {
    display: none;
  }
  &.expandedBlockCollapsible dd {
    display: block;
  }
}

.documentByLine {
  color: $color-text-light;
  margin-bottom: $margin-vertical;
}

#viewlet-below-content {
  margin-top: $margin-vertical;
}

#category.documentByLine {
  .separator {
    display: none;
  }
  a {
    @include label($color-primary);
  }
}


@if $mark-broken-links {
  a.broken-link {
    outline: 2px dotted $color-danger;
    @extend .fa-icon;
    @extend .fa-exclamation-triangle;
    &:before {
      color: $color-danger;
    }
  }
}

iframe {
  border: none;
}

#folderlisting-main-table #listing-table .draggable.draggingHook {
  font-size: 0;
  @extend .fa-icon;
  @extend .fa-bars;
  &:before {
    font-size: $font-size-medium;
    padding-left: $padding-horizontal * 2;
  }
}
