$text-color-light: desaturate(lighten($text-color, 25%), 100%) !default;
$mark-broken-links: true !default;

@include declare-variables(
  text-color-light,
  mark-broken-links);

a,
:link,
:visited {
  color: $link-color;
  text-decoration: $link-decoration;
  font-weight: $link-font-weight;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

fieldset {
  margin: 1em 0;
  border-width: 0 0 1px 0;
}

p {
  margin-bottom: 1em;
}

ul.listTypePlain {
  @include ul(plain);
}

dl {
  @include dl(default);
}

.discreet {
  color: $text-color-light;
}

.hiddenStructure {
  display: block;
  background: transparent;
  background-image: none; /* safari bug */
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em !important;
  width: 1px;
  left: -1000px;
  top: -1000px;
  position: absolute;
}

#content .visualNoMarker {
  list-style: none;
  margin-left: 0;
}

dl.collapsible {
  dt {
    cursor: pointer;
  }
  dd {
    display: none;
  }
  &.expandedBlockCollapsible dd {
    display: block;
  }
}

.documentByLine {
  color: $light-text-color;
  margin-bottom: 1em;
}

#viewlet-below-content {
  margin-top: 2em;
}

#category.documentByLine {
  .separator {
    display: none;
  }
  a {
    @include label($primary-color);
  }
}


@if $mark-broken-links {
  a.broken-link {
    outline: 2px dotted $danger-color;
    @extend .fa-icon;
    @extend .fa-exclamation-triangle;
    &:before {
      color: $danger-color;
    }
  }
}

iframe {
  border: none;
}

#folderlisting-main-table #listing-table .draggable.draggingHook {
  font-size: 0;
  @extend .fa-icon;
  @extend .fa-bars;
  &:before {
    font-size: 20px;
    padding-left: 15px;
  }
}
