$text-color-light: desaturate(lighten($text-color, 25%), 100%) !default;

@include declare-variables(
  text-color-light);



h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1em 0;
  font-family: $font-family-base;
  line-height: $line-height-base;
  &.documentFirstHeading {
    margin: 0;
  }
}

a,
:link,
:visited {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

fieldset {
  margin: 1em 0;
  border-width: 0 0 1px 0;
}

#content {
  p {
    margin-bottom: 1em;
  }

  ul {
    @include ul();
    &.listTypePlain {
      @include ul(plain);
    }
  }

  ol {
    @include ul();
    list-style: decimal;
  }

  dl {
    & dt {
      font-weight: bold;
    }
    & dd {
      margin-bottom: 1em;
    }
  }
  .discreet {
    color: $text-color-light;
  }
}

.hiddenStructure {
  display: block;
  background: transparent;
  background-image: none; /* safari bug */
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em !important;
  width: 1px;
}

#content .visualNoMarker {
  list-style: none;
  margin-left: 0;
}

dl.collapsible {
  dt {
    cursor: pointer;
  }
  dd {
    display: none;
  }
  &.expandedBlockCollapsible dd {
    display: block;
  }
}

.documentByLine {
  color: $light-text-color;
  margin-bottom: 1em;
}

#viewlet-below-content {
  margin-top: 2em;
}

#category.documentByLine {
  .separator {
    display: none;
  }
  a {
    @include label($primary-color);
  }
}
