#content ul.configlets,  ul.configlets {
  @include ul(plain);

  li {
    padding: 0;
    margin: 0;

    a {
      padding: 0.4em;
      display: block;
      text-decoration: none;
      @include navigationitem($portlet-navigation-bg-color);
      &:hover {
        text-decoration: none;
        @include navigationitem($portlet-navigation-hover-color);
      }
    }
  }
}

body.template-theming-controlpanel {
  #visual-portal-wrapper {
    @include clearfix();
    width: $page-wrapper-width;
    margin: 0 auto;
    background: #FFF;
  }

  #portal-column-one {
    @include position0();
    @include width4();
  }
  #portal-column-content {
    @include position4();
    @include width12();
  }
  #portal-logo { clear: both; }

  #portal-searchbox,
  #portal-footer-wrapper {
    display: none;
  }
}
