$editbar-bg-color: $secondary-color !default;
$editbar-link-color: contrast($editbar-bg-color,
                              $gray-lighter,
                              $gray-darker,
                              $lightness:60%) !default;
$editbar-link-active-color: $gray-darker !default;
$editbar-link-hover-color: contrast($editbar-bg-color,
                                    lighten($gray-lighter, 20%),
                                    darken($gray-darker, 20%),
                                    $lightness:60%) !default;
$editbar-link-font-weight: $link-font-weight !default;

@include declare-variables(
  editbar-bg-color,
  editbar-link-color,
  editbar-link-active-color,
  editbar-link-hover-color);



#edit-bar {
  background-color: $editbar-bg-color;
  border: 0.25em solid $editbar-bg-color;
  min-height: 2em;
  margin: 0;
  padding: 0;
  display: block;
  @include borderradius($border-radius $border-radius 0 0);
  margin-top: -2em;
  @include screen-large {
    margin-top: 0;
  }

  #content-views {
    @include ul(inline);
    float: left;
    display: block;

    a {
      display: inline-block;
      padding: 0.4em 0.5em 0.5em 0.5em;
      color: $editbar-link-color;
      font-weight: $editbar-link-font-weight;
    }

    .selected a, a:hover {
      text-decoration: none;
    }
    .selected a {
      background-color: $content-bg-color;
      @include borderradius($border-radius $border-radius 0 0);
      color: $editbar-link-active-color;
      &:hover {
        color: $editbar-link-active-color;
      }
    }
    a:hover {
      color: $editbar-link-hover-color;
    }
  }

  .contentActions {
    > #contentActionMenus {
      @include ul(inline);

      dl {
        @include dl(plain);
      }

      dd.actionMenuContent {
        border-top-width: 0;
        @include borderradius(0 0 $menu-border-radius $menu-border-radius);
        a {
            font-weight: $editbar-link-font-weight;
        }
      }

      > li {
        float: right;
        dt.actionMenuHeader a {
          line-height: 2.25em;
          padding: 0.5em;
          color: $editbar-link-color;
          font-weight: $editbar-link-font-weight;
          &:hover {
            color: $editbar-link-hover-color;
          }
        }
      }
    }
  }
}
