.contenttreeWindow {
  .contenttreeWindowHeader {
    h2 {
      margin: 0;
    }
  }

  .contenttreeWidget {
    position: absolute;
    overflow-y: auto;
    height: auto;
    width: auto;
    bottom: 5em;
    top: 7em;
    left: 2em;
    right: 2em;
  }

  .contenttreeWindowActions {
    position: absolute;
    bottom: 2em;
  }
}

.autocompleteInputWidget {
  .option {
    display: block;
    label {
      font-weight: normal;
    }
  }
}
