$formtabs-border-color: #ccc !default;
$input-bg-color: #fafafa !default;
$input-border-color: darken($input-bg-color, 20%) !default;
$input-focus-color: $outline-color !default;
$input-required-color: change-color($danger-color, $saturation: 90%) !default;
$input-error-bg-color: transparentize($danger-color, 85%) !default;
$input-error-border-color: transparentize($danger-color, 50%) !default;

@include declare-variables(
  formtabs-border-color,
  input-bg-color,
  input-border-color,
  input-focus-color,
  input-required-color,
  input-error-bg-color,
  input-error-border-color);



@mixin inputfield() {
  font-size: $font-size-base;
  font-family: $font-family-base;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em;
  width: 20em;
  outline: none;

  border: 1px solid $input-border-color;
  @include borderradius();
  background: $input-bg-color;
  @include boxshadow(0 1px 1px darken($input-bg-color, 5%) inset);

  &:focus {
    border: 1px solid $input-focus-color;
    @include boxshadow(0 1px 1px transparentize($input-focus-color, 0.8) inset,
                       0 0 5px transparentize($input-focus-color, 0.6));
  }
}

@mixin requiredbox() {
  .required:after {
    position: relative;
    display: inline-block;
    content: "";
    margin-left: 0.3em;
    bottom: 0.15em;
    width: 5px;
    height: 5px;
    background-color: $input-required-color;
    @include borderradius(2px);
    @include boxshadow(0 0 1px darken($input-required-color, 20%) inset,
                       0 0 1px lighten($input-required-color, 10%));
  }
}

@mixin fielderrors() {
  &.error {
    @include borderradius();
    background-color: $input-error-bg-color;
    border: 1px solid $input-error-border-color;
    margin-left: -0.72em;
    margin-right: -0.72em;
    padding: 0.6em;
    @include boxshadow(0 0 5px transparentize($input-error-border-color, 0.3) inset,
                       0 0 8px transparentize($input-error-border-color, 0.2));
    .fieldErrorBox {
      color: darken($danger-color, 20%);
      padding-bottom: 0.5em;
    }
  }
}


#content ul.formTabs, ul.formTabs {
  @include ul(inline);
  @include requiredbox();
  border-bottom: 1px solid $formtabs-border-color;

  &:after {
    clear: both;
  }
  &:before, &:after {
    content: "";
    display: table;
  }

  a {
    display: block;
    float: left;
    margin-bottom: -1px;
    padding: 0.5em 0.75em;

    &:hover {
      text-decoration: none;
    }

    &.selected {
      border: 1px solid $formtabs-border-color;
      @include borderradius($border-radius $border-radius 0 0);
      border-bottom-width: 0;
      background-color: $content-bg-color;

      &:hover {
        color: $link-color;
      }
    }
  }
}

input[type="text"],
input[type="password"],
textarea {
  @include inputfield();
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25em;
}

.field {
  @include fielderrors();
  clear: both;
  margin-bottom: 1em;

  label, div.label {
    @include requiredbox();
    font-weight: bold;
    .formHelp {
      color: $light-text-color;
      display: block;
      margin: 0 0 0.2em 0;
      font-weight: normal;
    }
    .required {
      position: relative;
      left: -0.6em;
    }
  }

  textarea {
    @include boxshadow(border-box);
    width: 100%;
  }

  input[type="text"][name$="title"],
  input#title {
    font-size: 120%;
  }
}
