.label {
    font-size: $font-size-base;
    border-radius: $border-radius;
    display: inline-block;
    color: #fff;
    padding: 2px 5px;
    line-height: normal;
    font-weight: bold;
    text-shadow: 0px 0px 1px $text-color;

    &.info {
        background-color: $success-color;
    }

    &.danger {
        background-color: $danger-color;
    }

    &.warning {
        background-color: $warning-color;
    }

}