$language-selector-link-color: $color-secondary !default;


@include declare-variables(
  language-selector-link-color);


#portal-languageselector-wrapper {
  float: left;
  width: 100%;

  @include screen-large {
      width: auto;
  }

  section#portal-languageselector,
  dl#portal-languageselector {
    float: left;
    width: 100%;
    margin-left: 0;
    @include dl(plain);

    dt, header {
      &.actionMenuHeader {
          border: 1px solid $language-selector-link-color;
          padding-left: 0.5em;
          margin-top: -1px;

        a {
          color: $language-selector-link-color;
          @extend .fa-icon;
          @extend .fa-caret-down;
          &:before {
            margin-left: 0.2em;
            float: right;
          }
          &:after {
            content: none;
          }
        }
      }
    }

    .actionMenuContent {
      top: 0;
      @include ul(plain);
      margin-left:0;
    }

    @include screen-large {
      width: auto;
      dl, section {
        margin-left: 0.5em;
      }

      .actionMenuContent {
        top: auto;
      }
    }

  }
}
