$language-selector-link-color: $secondary-color !default;


@include declare-variables(
  language-selector-link-color);


#portal-languageselector-wrapper {
  float: left;

  dl#portal-languageselector {
    float: left;
    @include dl(plain);

    dt {
      &.actionMenuHeader {
          border: 1px solid $language-selector-link-color;
          padding-left: 0.5em;
          margin-top: -1px;

        a {
          color: $language-selector-link-color;
          @extend .fa-icon;
          @extend .fa-caret-down;
          &:before {
            margin-left: 0.2em;
            float: right;
          }
          &:after {
            content: none;
          }
        }
      }
    }

    dd {
      @include ul(plain);
      margin-left:0;
    }
  }
}
