$page-wrapper-width: 1200px !default;

@include declare-variables(
  page-wrapper-width);

.visualClear {
  clear: both;
}

.clearfix {
  @include clearfix();
}


body {
  background: $page-bg-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}


#container {
  width: 100%;
}


#page-wrapper {
  position: relative;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  margin-bottom: 1em;
}


#header {
  margin-bottom: 1.4em;

  >.row >.cell {
    /* Remove paddings since we have no background color. */
    margin-left: -100%;
    width: 100%;
  }

  .topRow {
    margin: 1.5em 0;
  }

  #portal-logo {
    display: inline-block;
    margin: 0;
    margin-bottom: 1.5em;
  }
}


#columns {
  background-color: $content-bg-color;
}


#content {
  clear: both;
}
