$page-wrapper-width: 1200px !default;

@include declare-variables(
  page-wrapper-width);



body {
  background: $page-bg-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

#container {
  width: 100%;
}

#page-wrapper {
  position: relative;
  background-color: $content-bg-color;
  width: $page-wrapper-width;
  margin: 0 auto;
}


#content {
  clear: both;
}

#bottom-actions {
  width: $page-wrapper-width;
  margin: 0 auto;
}
