$page-wrapper-width: 1200px !default;

@include declare-variables(page-wrapper-width);

.visualClear {
  clear: both;
}

.clearfix {
  @include clearfix;
}

body {
  background: $page-bg-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

#container {
  width: 100%;
  float: left;
}

#page-wrapper {
  position: relative;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  margin-bottom: 1em;
}

#header {
  > .row > .cell {
    /* Remove paddings since we have no background color. */
    margin-left: -100%;
    width: 100%;
  }

  .logoRow {
    @include screen-small() {
      padding: 30px 0;
    }
    box-sizing: border-box;
    @include clearfix;
    > .cell {
      display: table;
    }
  }

  #portal-logo {
    display: none;
    position: absolute;
    top: -45px;
    left: 10px;

    @include screen-small() {
      display: inline-block;
      position: static;
      background-color: rgba(255, 255, 255, .5);
      padding: 10px;
    }

    img {
      float: left;
      max-height: 38px;
      width: auto;
      @include screen-small {
        max-height: none;
      }
    }
  }
}

#columns {
  background-color: $content-bg-color;
  @include borderradius($border-radius);
  margin-top: 0;
  @include screen-large {
    margin-top: 1.4em;
  }
}

#content {
  clear: both;
  @include screen-large {
    margin-top: 0;
  }
}

#content-core {
  @include clearfix();
}

#column-content {
  @include cell;

  @include gridposition(0);

  @include gridwidth(16);

}

// Responsive styles if both columns are available
.has-nav-column.has-sidebar-column {
  #column-content {
    @include screen-small {
      @include gridposition(0);

      @include gridwidth(16);
    }


    @include screen-medium {
      @include gridposition(0);

      @include gridwidth(10);
    }


    @include screen-large {
      @include gridposition(4);

      @include gridwidth(8);
    }

  }

  #column-sidebar {
    clear: both;

    @include screen-medium {
      @include gridposition(10);

      @include gridwidth(6);

      @include cell;
    }


    @include screen-large {
      @include gridposition(12);

      @include gridwidth(4);
    }

  }

  #column-navigation {
    display: none;

    @include cell;

    @include screen-large {
      display: block;

      @include gridposition(0);

      @include gridwidth(4);
    }

  }
}

// Responsive styles if only the navigation column is available
body.has-nav-column:not(.has-sidebar-column) {
  #column-content {
    @include screen-large {
      @include gridposition(4);
      @include gridwidth(12);
    }
  }

  #column-navigation {
    display: none;

    @include cell;

    @include screen-large {
      @include gridposition(0);
      @include gridwidth(4);
      display: block;
    }

  }
}

// Responsive styles if only the sidebar column is available
body.has-sidebar-column:not(.has-nav-column) {
  #column-content {
    @include screen-small {
      @include gridposition(0);

      @include gridwidth(16);
    }


    @include screen-medium {
      @include gridposition(0);

      @include gridwidth(10);
    }


    @include screen-large {
      @include gridposition(0);

      @include gridwidth(12);
    }

  }

  #column-sidebar {
    clear: both;

    @include screen-medium {
      @include gridposition(10);

      @include gridwidth(6);

      @include cell;
    }


    @include screen-large {
      @include gridposition(12);

      @include gridwidth(4);
    }

  }
}
