$menu-bg-color: #fff !default;
$menu-link-color: $gray-darker !default;
$menu-bg-color-hover: darken($menu-bg-color, 5%) !default;
$menu-link-color-hover: darken($menu-link-color, 5%) !default;
$menu-border-color: darken($menu-bg-color, 20%) !default;
$menu-border-radius: 5px !default;

@include declare-variables(
  menu-bg-color,
  menu-link-color,
  menu-bg-color-hover,
  menu-link-color-hover,
  menu-border-color,
  menu-border-radius);



.actionMenu {
  white-space: nowrap;
  position: relative;
  margin-left: 0.5em;

  a, a:hover {
    text-decoration: none;
  }

  .actionMenuContent {
    cursor: default;
    background-color: $menu-bg-color;
    border: 1px solid $menu-border-color;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @include boxshadow(0.5em 1em 2em -1em $menu-border-color);
    @include borderradius($menu-border-radius);

    ul {
      @include ul(plain);
      li {
        margin: 0;
        padding: 0;
        display: block;

        &.actionSeparator {
          margin-top: 0.5em;
          border-top: 1px solid $menu-border-color;
          padding-top: 0.5em;
        }

        > * {
          display: block;
          background: transparent;
          padding: 0.3em 1.5em;
          color: $menu-link-color;
          white-space: nowrap;
        }
      }
    }

    a {
      &:hover, .actionMenuSelected {
        background-color: $menu-bg-color-hover;
        color: $menu-link-color-hover;
      }
    }

    .actionMenuSelected {
      font-weight: bold;
    }
  }

  &.activated > .actionMenuContent {
    z-index: 5;
    right: -3px;
    position: absolute;
    width: auto;
    min-width: 100%;
  }

  &.deactivated > .actionMenuContent {
    display: none;
  }
}


#column-content dl.actionMenu dt,
#column-content section.actionMenu header
dl.actionMenu dt,
section.actionMenu header {
  font-weight: normal;
}

@mixin mobilemenu {
  position: absolute;
  right: 0;
  left: 0;
  top: 54px;
  z-index: 5;
  margin: auto;
  cursor: default;

  ul li {
    display: block;

    a {
      display: block;
      background: transparent;
      padding: 1em;
      color: $menu-link-color;
      white-space: nowrap;

      &:hover {
        background-color: $menu-bg-color-hover;
        text-decoration: none;
      }
    }
  }
}

