$portalmessage-info-color: lighten($context-color, 40%) !default;
$portalmessage-warning-color: lighten($warning-color, 30%) !default;
$portalmessage-error-color: lighten($danger-color, 20%) !default;
$portalmessage-undefined-color: #eee !default;
$portalmessage-message-color: #fafafa !default;
$portalmessage-border-color: #ccc !default;

@include declare-variables(
  portalmessage-info-color,
  portalmessage-warning-color,
  portalmessage-error-color,
  portalmessage-undefined-color,
  portalmessage-message-color,
  portalmessage-border-color);



@mixin portal-message-dt($portalmessage-dt-color, $typeclass:null) {
  &.#{$typeclass} dt {
    background-color: $portalmessage-dt-color;
    border: 1px solid darken($portalmessage-dt-color, 15%);
    color: contrast($portalmessage-dt-color,
                    lighten($portalmessage-dt-color, 50%),
                    darken($portalmessage-dt-color, 50%),
                    $lightness:63%);
  }
}

dl.portalMessage, #content dl.portalMessage {
  display: block;
  margin: 1em 0;

  dt {
    padding: 0.4em 1em;
    display: table-cell;
    font-weight: normal;
    @include borderradius($border-radius 0 0 $border-radius);
    white-space: nowrap;
  }

  @include portal-message-dt($portalmessage-undefined-color, portalMessage);
  @include portal-message-dt($portalmessage-info-color, info);
  @include portal-message-dt($portalmessage-warning-color, warning);
  @include portal-message-dt($portalmessage-error-color, error);

  dd {
    padding: 0.4em 1em;
    display: table-cell;
    width: 100%;
    background-color: $portalmessage-message-color;
    border: 1px solid $portalmessage-border-color;
    border-left-width: 0;
    @include borderradius(0 $border-radius $border-radius 0);
  }

}
