.overlay-login {
  width: 600px !important;
  height: 320px !important;
  left: 50% !important;
  margin-left: -300px;
  top: 50% !important;
  margin-top: -280px;
}

.overlay-delete {
  width: 600px !important;
  height: 320px !important;
  left: 50% !important;
  margin-left: -300px;
  top: 50% !important;
  margin-top: -280px;
}