/* @group tinymce */

.mceActionPanel input, .plonebutton {
  color: $input-context-color !important;
}
.mceActionPanel #cancel {
  color: $text-color !important;
}

.col-row input {
  width: auto;
}

/* @end */

/* @group dialog */

body#plonebrowser #content.dialog-wrapper {
  font-size: 100%;
}

body #internallinkcontainer .list.item span,
body #internallinkcontainer .list.item a {
  position: static;
}

/* @end */

/* @group izug listing view */

.template-izug_listing_view .itemDate {
  font-weight: bold;
}
.template-izug_listing_view .CustomlistingItem {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightgray;
}

/* @end */

/* @group ftw.bridge watcher portlet */

.portletWatcher dd {
  margin-bottom: 0.75em;
}

/* @end */

/* @group sharing table */

#user-group-sharing th {
  font-size: 12px;
  font-weight: normal;
}

/* @end */

/* @group ajax spinner */

#ajax-spinner {
  display: none !important;
}

/* @end */

/* @group customstyles */

body.template-customstyles_form #slider-wrapper {
  display: none;
}
body.template-customstyles_form label {
  display: block;
}
#customform-help {
  margin-top: 1em;
  padding: 1em;
  @include boxshadow(0.5em 0.5em 0.5em $darkgray);
  border: 1px solid #aaa;
  background: #eee no-repeat center center;
}
textarea#custom-scss {
  font-family: Courier New;
}
#portal-siteactions li#siteaction-manage_styles {
  border-left: none;
  float: right;
}

/* @end */
