$overlay-close-width: 20px !default;
$overlay-close-color: #333 !default;
$overlay-close-bg-color: #eee !default;
$overlay-close-hover-color: #fff !default;
$overlay-close-hover-bg-color: #333 !default;
$overlay-close-mask-color: transparentize($gray-light, .2) !default;

@include declare-variables(
  overlay-close-width,
  overlay-close-color,
  overlay-close-bg-color,
  overlay-close-hover-color,
  overlay-close-hover-bg-color,
  overlay-close-mask-color);

.overlay-open {
  body { overflow: hidden; };
}

#cboxOverlay,
#exposeMask,
.contenttreeWindowBlocker {
  background: $overlay-close-mask-color !important;
  opacity: 1 !important;
  z-index: 999 !important;
  position: fixed !important;
  width: auto !important;
  height: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.overlay, .contenttreeWindow {
  display: none;
  background-color: $content-bg-color;
  padding: 0.3em;
  @include boxsizing(border-box);
  @include boxshadow(0.1em 0.1em 1em 0 $gray-dark);
  @include borderradius(10px);
  padding-bottom: 60px;
  z-index: 1000 !important;

  position: fixed !important;
  width: auto !important;
  height: auto !important;
  top: 20px !important;
  bottom: 100px !important;
  right: 0 !important;
  left: 0 !important;

  @include screen-small {
    right: 5% !important;
    left: 5% !important;
  }

  @include screen-medium {
    right: 15% !important;
    left: 15% !important;
  }

  @include screen-large {
    right: 20% !important;
    left: 20% !important;
  }

  &.contenttreeWindow {
    padding: 2em;
    top: 30px !important;
    bottom: 40px !important;
    right: 20% !important;
    left: 20% !important;
  }

  .pb-ajax {
    @include boxsizing(border-box);
    overflow: auto;
    padding: 1em;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
  }

  .formControls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 0;
    > input {
      // http://blog.getpostman.com/2015/01/23/ui-repaint-issue-on-chrome/
      -webkit-transform: translate3d(0, 0, 0)
    }
  }

  div.close {
    position: absolute;
    right: #{$overlay-close-width * -0.6};
    top: #{$overlay-close-width * -0.6};
    cursor: pointer;
    height: $overlay-close-width;
    width: $overlay-close-width;

    >span {
      display: none;
    }

    &:before {
      position: absolute;
      content: '';
      background-color: $overlay-close-bg-color;
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      @include boxshadow(0 0 #{$overlay-close-width * 0.1} 0 darken($overlay-close-color, 20%),
                         inset 0 0 #{$overlay-close-width * 0.1} 0 darken($overlay-close-bg-color, 10%));
    }

    &:after {
      position: absolute;
      content: 'x';
      color: $overlay-close-color;
      font-family: Verdana;
      height: 100%;
      width: 100%;
      font-size: $overlay-close-width;
      margin: 0;
      padding-left: #{$overlay-close-width * 0.23};
      margin-top: #{$overlay-close-width * -0.33};
    }

    &:hover {
      &:before {
        background-color: $overlay-close-hover-bg-color;
        @include boxshadow(0 0 #{$overlay-close-width * 0.1} 0 $overlay-close-color,
                           inset 0 0 #{$overlay-close-width * 0.1} 0 darken($overlay-close-hover-bg-color, 10%));
      }
      &:after {
        color: $overlay-close-hover-color;
      }
    }
  }
}


#exposeMask + .contenttreeWindow {
  z-index: 1001 !important;
}

#exposeMask + .contenttreeWindow + .contenttreeWindowBlocker {
  z-index: 1000 !important;
}

.overlay-login {
  width: 600px !important;
  height: 320px !important;
  left: 50% !important;
  margin-left: -300px;
  top: 50% !important;
  margin-top: -280px;
}

.overlay-delete {
  width: 600px !important;
  height: 320px !important;
  left: 50% !important;
  margin-left: -300px;
  top: 50% !important;
  margin-top: -280px;
}
