$pathbar-bg-color: $gray-lighter !default;
$pathbar-arrow-color: #fff !default;
$pathbar-text-color: $text-color !default;
$pathbar-font-weight: normal !default;

@include declare-variables(pathbar-bg-color, pathbar-arrow-color, pathbar-text-color);

.template-startpage #breadcrumbs-wrapper,
body.portaltype-ftw-subsite-subsite #breadcrumbs-wrapper {
  margin-top: 2em;
}

body.portaltype-plone-site,
body.portaltype-ftw-subsite-subsite {
  #breadcrumbs-wrapper {
    margin-bottom: 0;

    #portal-breadcrumbs {
      display: none;
    }
  }
}

#breadcrumbs-wrapper {
  @include screen-small() {
    margin-top: 1em;
    @include gridposition(0);
    @include gridwidth(16);
  }
  margin-bottom: 2em;
  margin-left: -100%;
  width: 100%;

  #breadcrumbs-you-are-here {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  #portal-breadcrumbs {
    width: 100%;
    background-color: $pathbar-bg-color;

    @include clearfix;

    ul {
      @include ul(inline);
    }

    li {
      a {
        display: block;
        color: $pathbar-text-color;
        padding: 6px;
        font-weight: $pathbar-font-weight;
        float: left;
        font-size: 14px;
        line-height: 19px;

        &:hover {
          color: $link-hover-color;
        }
      }

      // White separator between pathbar lines
      &:before {
        content: "";
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        height: 2px;
        margin-top: -1px;
      }

      .breadcrumbSeparator {
        display: block;
        float: left;
        width: 18px;
        height: 31px;
        background-image: url("++theme++plonetheme.onegovbear/images/pathbar_separator.svg");
        background-repeat: no-repeat;
        color: $pathbar-bg-color;
        font-size: 1.4em;
        padding-top: 7px;
        box-sizing: border-box;
      }
    }

    #breadcrumbs-home > a {
      @extend .fa-icon;
      @extend .fa-home;
      font-size: 0;

      &:before {
        font-size: 14px;
        float: left;
      }

      @include screen-small() {
        font-size: 14px;

        &:before {
          font-size: 0;
        }
      }
    }
  }

  @include screen-large {
    display: block;
  }
}
