$pathbar-bg-color: $gray-light !default;
$pathbar-arrow-color: #fff !default;
$pathbar-text-color: $text-color !default;
$pathbar-font-weight: normal !default;

@include declare-variables(
  pathbar-bg-color,
  pathbar-arrow-color,
  pathbar-text-color);

#breadcrumbs-wrapper {
  margin-bottom: 2em;
  margin-top: 2em;

  #portal-breadcrumbs {
    width: 100%;
    float:left;
    background-color: $pathbar-bg-color;
    > span {
      padding: 6px 0;
      display:inline-block;
      &:first-child {
        padding: 6px 0 6px 8px;
      }
      > a {
        color: $pathbar-text-color;
        padding-right: 30px;
        font-weight: $pathbar-font-weight;
        font-size: $font-size-small;
      }
      // White separator between pathbar lines
      &:before {
        content: "";
        height: 0;
        position: absolute;
        background-color: $pathbar-arrow-color;
        left: 0;
        right: 0;
        margin-top: 24px;
      }
      > .breadcrumbSeparator {
        padding-left: 0;
        position: relative;
        display: inline-block;
        // White triangle for border
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 17px 23px;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          top: -23px;
          right: -18px;
        }
        // Grey triangle for separator
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 24px;
          border-color: transparent transparent transparent $pathbar-bg-color;
          position: absolute;
          top: -24px;
          right: -17px;
        }
      }
    }
  }

  @include tablet {
    display:none;
  }
}

body.portaltype-plone-site {
  #breadcrumbs-wrapper {
    margin-bottom: 0;
    #portal-breadcrumbs {
      display:none;
    }
  }
}

