#portal-personaltools-wrapper {
  float: right;

  dl {
    @include dl(plain);
  }

  /* Anonymous: list actions by floating */
  ul {
    @include ul(inline);

    a {
      &:after {
        content: ' | ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}
