$portal-top-bg-color: $page-bg-color !default;

@include declare-variables(
  portal-top-bg-color);

#portal-top-wrapper {
  @include screen-large {
    background-color: white;
  }
}

#portal-top {
  background-color: $primary-color;
  padding: 0;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  position: relative;
  font-size: $font-size-small;
  @include clearfix();

  @include screen-large {
    background-color: white;
    padding: 7px 0;
  }
}

#mobile-logo {
  display: block;
  position: absolute;

  img {
    width: 90px;
    padding: 5px 5px;
  }

  @include screen-small {
    display: none;
  }

}
