$portlet-column-bg-color: $gray-lighter !default;

@include declare-variables(
  portlet-column-bg-color);


.template-folder_contents.has-sidebar-column #column-sidebar {
  display: none;
}


#column-navigation, #column-sidebar {

  .portletWrapper {
    margin-bottom:1em;
    .portlet {
      .portletHeader {
        font-size: $font-size-h2;
        font-weight: bold;
        > h2 {
          font-size: 1em;
        }
        a.tile {
          padding:0.4em 0;
          display: block;
        }
      }
    }
  }
}


#column-sidebar .portlet {
  @include dl(plain);
  background-color: $portlet-column-bg-color;
  @include borderradius();
  padding: 1em;
  margin-bottom: 1em;

  &.SimplelayoutPortlet {
    background-color: transparent;
    padding: 0;
    @include clearfix;
  }

  & .portletHeader {
    margin-bottom: 0.75em;
  }
  .sl-column > .sl-block {
    margin-bottom: 2em;
    padding: 1em;
    background-color: $portlet-column-bg-color !important;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.managedPortlet {
  border: 1px solid $gray-light;
  background-color: $gray-lighter;
  @include borderradius();
  margin: 1em 0;
  overflow: hidden;

  .portlet-action
  {
    float: left;
    padding: 0.5em;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .portletHeader > a {
    display: block;
    clear: both;
    text-decoration: none;
    padding: 0.5em;
    background-color: $content-bg-color;
    &:hover {
      text-decoration: none;
    }
  }

  .portlet-action button {
    border: none;
    background: transparent;
  }

  .portlet-action.delete {
    float: right;
  }

  .managedPortletActions a {
    font-size: $font-size-base;
  }
  .managedPortletActions > a.delete {
    float: right;
  }
  .managedPortletActions > a.delete,
  .portlet-action.delete button {
    color: #F00;
  }

}

.portletArchiveListing {
  ul {
    @include ul(plain);
  }
}
