$portal-top-bg-color: $page-bg-color !default;

@include declare-variables(
  portal-top-bg-color);

#portal-top-wrapper {

  ~ #container {
    margin-top: $size-mobile-button;
  }

  @include screen-large {
    background-color: white;

    ~ #container {
      margin-top: 0;
    }    
  }
}

#portal-top {
  background-color: $primary-color;
  padding: 0;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  position: fixed;
  height: $size-mobile-button;
  width: 100%;
  z-index: 10;
  font-size: $font-size-small;
  @include clearfix();

  @include screen-large {
    background-color: white;
    padding: 7px 0;
    position: relative;
    z-index: 0;
    height: auto;
  }
}

#mobile-logo {
  display: block;
  position: absolute;

  img {
    width: 90px;
    padding: 5px 5px;
  }

  @include screen-small {
    display: none;
  }

}
