$portal-top-bg-color: $page-bg-color !default;

@include declare-variables(
  portal-top-bg-color);


#portal-top {
  background-color: $primary-color;
  padding: 0;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  position: relative;
  font-size: $font-size-small;
  @include clearfix();

  @include screen-large {
    padding: 7px 0;
    background-color: $portal-top-bg-color;
  }
}

.zoom-buttons {
  @include list-horizontal();
  @include screen-large() {
    display: block;
  }

  float: left;
  margin-left: 2em;
  display: none;
  height: 0;

  > li {
    display: inline-block;
    float: none;
    > a {
      padding: 0;
      padding-right: .2em;
      width: 0.7em;
      display: block;
      height: 0
    }
  }
}

.zoom-button {
  color: transparent;

  &:before {
    content: "A";
    color: $text-color;
  }

  &:hover {
    color: transparent;
    text-decoration: none;
  }

}

#zoom-small {
  font-size: 1em;
}

#zoom-medium {
  font-size: 1.2em;
}

#zoom-large {
  font-size: 1.4em;
}


#mobile-logo {
  display: block;
  position: absolute;

  img {
    width: 90px;
    padding: 5px 5px;
  }

  @include screen-small {
    display: none;
  }

}
