$portlet-column-bg-color: transparent !default;

.portletWrapper {
  margin-bottom: $margin-vertical;
  padding-bottom: $padding-vertical;
  border-bottom: 1px solid $color-gray-dark;
}

.portlet {
  @include reset-definition-list();
}

.portletHeader {
  font-size: $font-size-h2;
  margin-bottom: $margin-heading-vertical;
}

.portletItem {
  margin-bottom: $margin-vertical * 2;
  &.lastItem {
    margin-bottom: 0;
  }
}

.portletFooter {
  margin: $margin-vertical 0;
}
