$portlet-column-bg-color: transparent !default;

@include declare-variables(
  portlet-column-bg-color);


.template-folder_contents.has-sidebar-column #column-sidebar {
  display: none;
}
.portletWrapper {
  padding: $box-model;
  &:first-of-type {
    .portletHeader {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
.portlet {
  @include dl(plain);
  @include borderradius();
  background-color: $portlet-column-bg-color;
  ul {
    @include ul(plain);
  }
  .portletHeader {
    font-size: $font-size-h3;
    color: $text-color;
    padding-bottom: $box-model-bottom;
    border-bottom: 1px solid $gray-light;
    margin-bottom: $box-model-bottom;
    margin-top: $box-model-top;
    padding-top: $box-model-bottom;
  }
  .portletItem {
    padding-bottom: $box-model-bottom;
    margin-bottom: $box-model-bottom;
    border-bottom: 1px solid $gray-lighter;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  ul {
    @include ul(plain);
    > li {
      padding-bottom: $box-model-bottom;
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: $box-model-bottom;
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
  .sl-column > .sl-block {
    margin-bottom: 2em;
  }
}

.portletWorkflowReview {
  .portletHeader {
    .quantity {
      $badge-height: 20px;
      font-size: $font-size-h5;
      color: $gray-lighter;
      background-color: $danger-color;
      display: inline-block;
      width: $badge-height;
      height: $badge-height;
      border-radius: 50%;
      text-align: center;
      vertical-align: 15px;
      line-height: $badge-height;
      margin-left: -8px;
    }
  }
  .portletItem {
    .portletItemDetails {
      color: $gray-light;
      display: block;
    }
  }
}

.labelJarPortlet {
  > h2 {
    padding-bottom: $box-model-bottom;
    border-bottom: 1px solid $gray-light;
    margin-bottom: $box-model-bottom;
  }
  #create-label {
    padding-top: $box-model-top;
    padding-bottom: $box-model-bottom;
    .new-label-label {
      padding-top: $box-model-top;
      padding-bottom: $box-model-bottom;
      font-size: $font-size-h5;
    }
    .colorChooser {
      padding: $box-model-top 0 $box-model-bottom;
      margin: 0;
      border: 0;
      .colorBox {
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

.labelJarPortlet .labelListing {
  @include ul(plain);
  .labelItem {
    padding: $box-model;
    border-bottom: 1px solid $gray-lighter;
    &.selected {
      background-color: $gray-lighter;
      .labelColor {
        background-color: transparent;
        color: $text-color;
        border: none;
        @include boxshadow(none);
      }
    }
    > .labelColor {
      padding: 0;
      margin: 0;
      color: $text-color;
      &:hover {
        border: none;
        @include boxshadow(none);
      }
      &:before {
        border: none !important;
        margin: 2px 10px 0 0;
      }
    }
    &:hover {
      background-color: $gray-lighter;
      cursor: pointer;
      .editLabelLink {
        display: block;
      }
    }
  }
}

.portletVersions {
  > .portletItem {
    > ul > li > ul > li {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
    .versionItem {
      span {
        display: block;
      }
      .version {
        font-weight: bold;
      }
      .user {
        font-style: italic;
        color: $gray;
      }
    }
  }
}


.managedPortlet {
  border: 1px solid $gray-light;
  background-color: $gray-lighter;
  @include borderradius();
  margin: 1em 0;
  overflow: hidden;

  .portlet-action
  {
    float: left;
    padding: 0.5em;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .portletHeader > a {
    display: block;
    clear: both;
    text-decoration: none;
    padding: 0.5em;
    background-color: $content-bg-color;
    &:hover {
      text-decoration: none;
    }
  }

  .portlet-action button {
    border: none;
    background: transparent;
  }

  .portlet-action.delete {
    float: right;
  }

  .managedPortletActions a {
    font-size: $font-size-base;
  }
  .managedPortletActions > a.delete {
    float: right;
  }
  .managedPortletActions > a.delete,
  .portlet-action.delete button {
    color: #F00;
  }

}

.portletArchiveListing {
  ul {
    @include ul(plain);
  }
}
