$portal-top-bg-color: $page-bg-color !default;

@include declare-variables(
  portal-top-bg-color);


#portal-top {
  background-color: $portal-top-bg-color;
  max-width: $page-wrapper-width;
  margin: 0 auto;
  padding: 0.25em 0;
  height: 1.5em;
  position: relative;
}
