$searchbox-liveresults-bg-color: #fff !default;
$searchbox-liveresults-hover-bg-color: darken($menu-bg-color, 5%) !default;
$searchbox-liveresults-border-color: darken($menu-bg-color, 20%) !default;
$searchbox-liveresults-border-radius: 5px !default;
$search-highlight-bg-color: change-color($secondary-color, $lightness:70%, $saturation:90%);
$searchbox-width: 295px;

@include declare-variables(
  searchbox-liveresults-bg-color,
  searchbox-liveresults-hover-bg-color,
  searchbox-liveresults-border-color,
  searchbox-liveresults-border-radius,
  $searchbox-width);


.portal-searchbox-wrapper{

  float: left;
  width: $searchbox-width;
  padding: 6px;
  box-sizing: border-box;
  margin-left: -$searchbox-width;
  display: none;
  z-index: 1;
  right: 0;

  @include screen-large {
    display: block;
    &.open {
      position: static !important;
      margin-left: -$searchbox-width !important;
    }
  }

  &.open {
    display: block;
    position: absolute;
    margin-left: 0;
  }

  #portal-searchbox {

    .searchSection {
      display: none;
    }

    & input.searchButton {
      display: none;
    }

    & #searchGadget {
      width: 135px;
      padding: .5em 35px .5em .5em;
      float: right;
      box-sizing: border-box;
      &:focus{
          width: 100%;
      }
    }

    .LSBox {
      @include clearfix();
      position: relative;
      &:before {
          font-family: FontAwesome;
          content: "\f002";
          position: absolute;
          z-index: 3;
          right: 12px;
          top: 12px;
          font-size: 14px;
          background-color: transparent;
          visibility: visible;
      }
      input[type="text"] {
        line-height: 20px;
      }
    }

    #LSResult {
      display: none;
      position: absolute;
      z-index: 3;
      top: 3em;
      right: 0.55em;
      min-width: 20em;
      max-width: 40em;
      padding: 0.5em 0;
      background-color: $searchbox-liveresults-bg-color;
      border: 1px solid $searchbox-liveresults-border-color;
      @include boxshadow(0.5em 1em 2em -1em $searchbox-liveresults-border-color);
      @include borderradius($searchbox-liveresults-border-radius);

      fieldset.livesearchContainer {
        margin: 0;
        padding: 0;
        border: none;
        legend#livesearchLegend {
          display: none;
        }
      }

      ul.LSTable {
        @include ul(plain);
        padding: 0;

        li {
          margin: 0;
          padding: 0.3em 1.5em;
          display: block;

          &.LSHighlight {
            background-color: $searchbox-liveresults-hover-bg-color;
          }

          > * {
            padding: 0;
            background: transparent;
          }

          > .LSDescr {
            padding-left: 1.5em;
            color: $light-text-color;
          }
        }
      }

      #LSNothingFound {
        margin-bottom: 0.5em;
      }
      #LSNothingFound, div.LSRow {
        padding-left: 1.5em;
      }
    }
  }
}

.highlightedSearchTerm {
  background-color: $search-highlight-bg-color;
}
