$service-nav-link-color: $secondary-color !default;

@include declare-variables(service-nav-link-color);

#service-navigation {
  display: none;
  // position: absolute;
  // top: 80px;
  // z-index: 5;
  // right: 0;
  @include mobilemenu();
  background-color: $menu-bg-color;
  border: 1px solid $menu-border-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  @include boxshadow(0.5em 1em 2em -1em $menu-border-color);

  @include borderradius($menu-border-radius);

  ul {
    @include ul(plain);


  }

  @include screen-large {
    display: block;
    float: right;
    position: relative;
    top: auto;
    right: auto;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: auto;
    @include boxshadow(none);

    @include borderradius(none);

    padding: 0;

    ul {
      @include ul(inline);

      li {
        margin-left: 1em;
        display: inline;
        padding: 0;

        > a {
          color: $service-nav-link-color;
          text-transform: uppercase;
          font-weight: normal;
          display: inline;
          padding: 0;

          &:hover {
            background-color: transparent;
            text-decoration: underline;
            color: $link-hover-color;
          }
        }
      }
    }
  }
}
