$service-nav-link-color: $gray-lighter !default;


@include declare-variables(
  service-nav-link-color);


#service-navigation {
  max-width: $page-wrapper-width;
  margin: 0 auto;
  text-align: right;
  padding: 0.25em 0;
  ul {
    @include ul(inline);
    li {
      margin-left: 1em;
      > a {
        color: $service-nav-link-color;
      }
    }
  }
}
