$service-nav-link-color: $secondary-color !default;


@include declare-variables(
  service-nav-link-color);


#service-navigation {
  float: right;
  ul {
    @include ul(inline);
    li {
      margin-left: 1em;
      > a {
        color: $service-nav-link-color;
        text-transform: uppercase;
      }
    }
  }
}
