$toolbar-bg-color: $gray-darker;
$action-bg-color: $gray-dark;
$action-bg-color-hover: $gray-light;

$column-bg-color: $gray;

$block-placeholder-bg-color: $gray-light;
$block-placeholder-border-size: 1px;
$block-placeholder-border-style: dotted;
$block-placeholder-border-color: $gray-dark;

$layout-placeholder-bg-color: $block-placeholder-bg-color;
$layout-placeholder-border-size: $block-placeholder-border-size;
$layout-placeholder-border-style: $block-placeholder-border-style;
$layout-placeholder-border-color: $block-placeholder-border-color;

ul[class^="sl-toolbar"] {
  border-radius: $border-radius;
  background-color: $toolbar-bg-color;
}

.sl-block {
  box-shadow: none;
  margin-bottom: 2px;
  .sl-block-content {
    img {
      max-width: 100%;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.sl-column {
  background-color: $content-bg-color;
  .block-placeholder {
    margin-bottom: 1px;
  }
}

.sl-layout {
  .block-placeholder {
    background-color: $block-placeholder-bg-color;
    border: $block-placeholder-border-size $block-placeholder-border-style $block-placeholder-border-color;
  }
}

.sl-simplelayout {
  .layout-placeholder {
    background-color: $layout-placeholder-bg-color;
    border: $layout-placeholder-border-size $layout-placeholder-border-style $layout-placeholder-border-color;
  }
}

// If user is permitted to edit the simplelayout page
.documentEditable {
  .sl-column {
    background-color: $column-bg-color;
  }
}