$slider-text-bg-color: #fff !default;
$slider-text-transparency: 0.6 !default;
$slider-text-title-font-size: 20px !default;
$slider-text-title-font-color: $text-color !default;
$slider-text-font-size: 16px !default;
$slider-text-font-color: $text-color !default;

@include declare-variables(
  slider-text-bg-color,
  slider-text-transparency);

.sliderPanes {
  .sliderPane {
    position: relative;
    margin:0 5px 0 5px;
    .sliderText {
      position: absolute;
      bottom: 20px;
      right: 0;
      background-color: $slider-text-bg-color;
      opacity: $slider-text-transparency;
      padding: 15px 10px;
      > p {
        font-size: $slider-text-font-size;
        color: $slider-text-font-color;
        &.documentFirstHeading {
          font-size: $slider-text-title-font-size;
          color: $slider-text-title-font-color;
        }
      }
    }
    > a .sliderText .documentFirstHeading {
      color: $link-color;
    }
  }

  > button {
    line-height: 0;
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background-color: $gray-dark;
    color: $gray-lighter;
    float: left;
    margin-top: 5px;
    &:before {
      font-family: FontAwesome;
      font-size: 10px;
    }
  }

  &.OnlyPane .sliderPane {
    margin:0;
  }

  .slick-play {
    margin-right: 5px;
    &:before {
      content: "\f04b";
    }
  }

  .slick-pause {
    &:before {
      content: "\f04c";
    }
  }
}
