$table-heading-bg-color: $gray-lighter !default;
$table-border-color: darken($table-heading-bg-color, 15%) !default;
$table-seperator-border-color: darken($content-bg-color, 15%) !default;
$table-odd-bg-color: darken($content-bg-color, 2%) !default;
$table-drag-bg-color: change-color($primary-color, $lightness: 93%) !default;
$table-drag-border-color: change-color($primary-color, $lightness: 85%) !default;

@include declare-variables(table-heading-bg-color,
                           table-border-color,
                           table-seperator-border-color,
                           table-odd-bg-color,
                           table-drag-bg-color,
                           table-drag-border-color);

table {
  margin-bottom: 1em;

  &.plain {
    width: 100%;
    th, thead td {
      font-weight: bold;
      text-align: left;
    }

    td, th {
      padding: 0.4em 1em;
      border: 1px solid $table-seperator-border-color;
    }

    tbody {
      th {
        background-color: $table-heading-bg-color;
      }
      tr:nth-child(odd) td {
        background-color: $table-odd-bg-color;
      }
    }

  }

  &.invisible {
    width: 100%;

    th, thead td {
      font-weight: bold;
      text-align: left;
    }

    td, th {
      padding: 0.4em 1em;
    }

  }

  &.listing {
    border: 1px solid $table-border-color;
    border-collapse: separate;
    width: 100%;
    @include borderradius;

    th, thead td {
      font-weight: bold;
    }

    td, th {
      padding: 0.4em 1em;
    }

    thead {
      td, th {
        background-color: $table-heading-bg-color;
        border-bottom: 1px solid $table-seperator-border-color;
      }

      tr:first-child {
        td, th {
          &:first-child {
            @include borderradius-top-left($border-radius - 1px);
          }

          &:last-child {
            @include borderradius-top-right($border-radius - 1px);
          }
        }
      }
    }

    tbody {
      th {
        border-bottom: 1px solid $table-seperator-border-color;
        background-color: $table-heading-bg-color;
      }

      tr:nth-child(odd) td {
        background-color: $table-odd-bg-color;
      }

      td, th {
        text-align: left;
      }

      tr:last-child {
        td, th {
          border-bottom: none;

          &:first-child {
            @include borderradius-bottom-left($border-radius - 1px);
          }

          &:last-child {
            @include borderradius-bottom-right($border-radius - 1px);
          }
        }
      }
    }

    tfoot {
      td, th {
        background-color: $table-heading-bg-color;
        border-top: 1px solid $table-seperator-border-color;
      }

      tr:last-child {
        td, th {
          &:first-child {
            @include borderradius-bottom-left($border-radius - 1px);
          }

          &:last-child {
            @include borderradius-bottom-right($border-radius - 1px);
          }
        }
      }
    }

    tr.dragindicator {
      background-color: $table-drag-bg-color;
      outline: 2px solid $table-drag-border-color;
    }

    &.vertical {
      th {
        background-color: $table-heading-bg-color;
        border-right: 1px solid $table-seperator-border-color;
        text-align: right;
      }

      tr:first-child {
        th:first-child {
          @include borderradius-top-left;
        }
      }
    }

    &.grid {
      td, th {
        border-right: 1px solid $table-seperator-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

/* responsive table */
/*
  Force tables to not be like tables anymore. Borrowed from this example:
  http://elvery.net/demo/responsive-tables/#no-more-tables
  */
@include tablet {
  table.responsive {
    border: none;

    &, thead, tbody, th, td, tr {
      display: block;
      word-wrap: break-word;
      line-height: 1em;
    }
    /* Hide table headers (but not display: none;, for accessibility) */

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    /* Have spaces between the rows which look like business cards */
    tbody tr:first-child {
      margin-top: 0.5em;
    }

    tbody tr {
      margin-bottom: 0.5em;
    }

    /* Behave like a "row" */
    tbody tr td {
      position: relative;
      padding-left: 45%;
      white-space: normal;
      text-align: left;
      border: 1px solid $table-border-color;
      border-width: 0 1px 0 1px;
      min-height: 1em;
    }

    tbody tr td:first-child {
      @include borderradius-top-left;
      @include borderradius-top-right;
      border-top: 1px solid $table-border-color;
    }

    tbody tr td:last-child {
      @include borderradius-bottom-left;
      @include borderradius-bottom-right;
      border-bottom: 1px solid $table-border-color;
    }

    /* Table header as label */
    td:before {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      width: 40%;
      padding-right: 1em;
      text-align: right;
      content: attr(data-title);
    }
  }
}
