#edit-bar {
  @include clearfix();
  background-color: $color-edit;
  border-top-left-radius: $border-radius-primary + 2;
  border-top-right-radius: $border-radius-primary;
}

.contentActions {
  float: right;
}

#contentActionMenus {
  @include list-horizontal($direction: rtl);

  .actionMenuHeader a {
    @include auto-text-color($color-edit);
  }

}

#content-views {
  @include tab-list();
  float: left;
  li:first-child a {
    border-top-left-radius: $border-radius-primary;
  }
}
