* {
  box-sizing: border-box;
}

body {
  @include clearfix();
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-primary;
  color: $color-text;
}

.portaltype-plone-site {
  #breadcrumbs-wrapper {
    display: none;
  }
  #columns {
    padding-top: $margin-vertical;
  }
  #edit-bar {
    margin-top: -$margin-vertical;
    margin-bottom: $margin-vertical;
  }
}

#container {
  width: 100%;
  float: left;
}

#header {
  padding-bottom: $padding-vertical * 10;
  border-bottom: $padding-vertical solid $color-primary;
  @include clearfix();
}

#columns {
  @include clearfix();
  border-radius: $border-radius-primary;
  max-width: $max-width-page;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $box-shadow-secondary;
  margin-top: -$padding-vertical * 10 - $padding-vertical;
  background-color: $color-content-background;
  padding-bottom: $margin-vertical;
  > .row {
    @include row();
  }
}

#breadcrumbs-wrapper {
  @include clearfix();
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  margin-top: $margin-vertical;
  margin-bottom: $margin-vertical;
}

#portal-breadcrumbs {
  @include clearfix();
}

#column-content {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  > .row {
    @include row();
  }
}

#column-sidebar {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#column-navigation {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#bottom-actions {
  background-color: $color-primary;
}

#portal-siteactions {
  @include list-horizontal();
  max-width: $max-width-page;
  margin: 0 auto;
  > li > a {
    @include no-link();
    @include auto-link-color();
  }
}

.logoRow {
  @include clearfix();
  max-width: $max-width-page;
  margin: $margin-vertical auto;
  > .cell {
    @include cell();
    @include gridposition(0);
    @include gridwidth(16);
  }
}

.globalnavRow {
  @include row();
  border-bottom: 1px solid $color-primary;
  margin: $margin-vertical 0;
  .fixed-header {
    max-width: $max-width-page;
    margin: 0 auto;
  }
  .navigation {
    @include cell();
    @include gridposition(0);
    @include gridwidth(16);
  }
}

.logoRow {
  max-width: $max-width-page;
  margin: $margin-vertical auto;
}

.globalnavRow {
  @include row();
  border-bottom: 1px solid $color-primary;
  margin: $margin-vertical 0;
  .fixed-header {
    max-width: $max-width-page;
    margin: 0 auto;
  }
  .navigation {
    @include cell();
    @include gridposition(0);
    @include gridwidth(16);
  }
}

#portal-globalnav {
  @include list-horizontal();

  li.selected a{
    border-bottom-color: $color-primary;
  }

  > li > a {
    @include no-link();
    font-size: $font-size-medium;
    margin-right: $margin-horizontal;
    padding: $padding-vertical ($padding-horizontal / 2);
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom-color: $color-primary;
    }
  }
}

.LSBox {
  @include clearfix();
  position: relative;
  &:after {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    visibility: visible;
    right: - 2 * $padding-horizontal - ($padding-horizontal / 2);
    top: $padding-vertical;
  }
  input[type="text"] {
    padding-right: 2 * $padding-horizontal;
  }
}

.global-nav-search-wrapper {
  position: relative;
  .portal-searchbox-wrapper {
    position: absolute;
    height: auto;
    right: 3 * $padding-horizontal;
    top: -$line-height-base - $padding-vertical * 2 - $margin-vertical - $margin-vertical;
  }
}

.global-nav-search-wrapper {
  @include clearfix();
}

// Responsive styles if both columns are available
.has-nav-column.has-sidebar-column {
  #column-content {

    @include screen-medium {
      @include gridposition(0);
      @include gridwidth(10);
    }

    @include screen-large {
      @include gridposition(4);
      @include gridwidth(8);
    }

  }

  #column-sidebar {

    clear: both;

    @include screen-medium {
      @include gridposition(10);
      @include gridwidth(6);
      clear: none;
    }

    @include screen-large {
      @include gridposition(12);
      @include gridwidth(4);
    }

  }

  #column-navigation {
    display: none;
    @include screen-large {
      display: block;
      @include gridposition(0);
      @include gridwidth(4);
    }

  }
}

// Responsive styles if only the navigation column is available
body.has-nav-column:not(.has-sidebar-column) {
  #column-content {

    @include screen-medium {
      @include gridposition(4);
      @include gridwidth(12);
    }

  }

  #column-navigation {
    display: none;

    @include screen-medium {
      display: block;
      @include gridposition(0);
      @include gridwidth(4);
    }

  }
}

// Responsive styles if only the sidebar column is available
body.has-sidebar-column:not(.has-nav-column) {
  #column-content {

    @include screen-medium {
      @include gridposition(0);
      @include gridwidth(10);
    }

    @include screen-large {
      @include gridposition(0);
      @include gridwidth(12);
    }

  }

  #column-sidebar {

    clear: both;

    @include screen-medium {
      @include gridposition(10);
      @include gridwidth(6);
      clear: none;
    }

    @include screen-large {
      @include gridposition(12);
      @include gridwidth(4);
    }

  }
}
