#portal-top {
  @include clearfix();
  background-color: $color-primary;
}

#portal-personaltools-wrapper {
  text-align: right;
  float: right;

  #user-name {
    @extend .fa-icon;
    @extend .fa-user;
  }
}

#portal-personaltools {
  @include auto-text-color();
}
