.masthead {
  @include clearfix();
  background-color: $color-primary;
}

#portal-top {
  max-width: $max-width-page;
  margin: 0 auto;
  .actionMenuHeader > a {
    @include auto-text-color($color-secondary);
    &:hover {
      @include auto-text-color($color-secondary);
    }
  }
  #anon-personalbar > a {
    @include auto-text-color($color-secondary);
  }
}

#portal-personaltools-wrapper {
  float: right;
  > ul {
    @include list-horizontal();
  }
}

#service-navigation {
  float: right;
  > ul {
    @include list-horizontal();
  }
}

#user-name {
  @extend .fa-icon;
  @extend .fa-user;
}
