#portal-top {
  @include clearfix();
  background-color: $color-primary;
}

#portal-personaltools-wrapper {
  text-align: right;
  width: 100%;
  max-width: $max-width-page;
  margin: 0 auto;

  #user-name {
    @extend .fa-icon;
    @extend .fa-user;
  }
}

#portal-personaltools {
  @include auto-text-color();
}
