body {
  font-family: $font-family-primary;
}

/*
  Headings
 */
h1, h2, h3, h4 {
  font-family: $font-family-heading;
  margin-top: 0;
  margin-bottom: .5em;
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

.documentFirstHeading {
  margin-top: 0;
}

/*
  Text
 */
p {
  margin-bottom: 1.3em;
}

.documentDescription {
  margin-bottom: $margin-vertical;
  font-weight: bold;
}

/*
  Links
 */
a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}
